body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    overflow-x: hidden;
}

header {
    background-color: #f0f0f0;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-brand {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 1.2em;
    margin-right: 20px;
}

.navbar-nav .nav-link:hover {
    color: #ffeb3b;
}

.myvideo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.content {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    z-index: 1;
}

.main {
    padding: 20px;
    text-align: center;
}

.main h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.main h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.social-icons a {
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
    color: #f0f0f0;
}

.social-icons a:hover {
    color: #601cfc;
}

.main-btn {
    background-color: #3a6cf4;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}

.main-btn:hover {
    background-color: #601cfc;
    box-shadow: 0 0 5px 3px #3a6cf4;
}
